:global(.styled-record-cell) {
  background-color: white;
  border: 3px solid var(--theme-color-normal); /* Changed border color to theme purple to match the new mockup style */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
